blueprint (1).json
{
    "name": "Generate Report",
    "flow": [{
            "id": 6,
            "module": "app#courageousteams-614494:getOrder",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1862816
            },
            "mapper": {
                "id": "1605182727418x599779412482719700"
            },
            "metadata": {
                "designer": {
                    "x": 144,
                    "y": 36
                },
                "restore": {
                    "__IMTCONN__": {
                        "label": "Version-test"
                    }
                },
                "parameters": [{
                    "name": "__IMTCONN__",
                    "type": "account",
                    "label": "Connection",
                    "required": true
                }],
                "expect": [{
                    "name": "id",
                    "type": "text",
                    "label": "Order Id",
                    "required": true
                }]
            }
        },
        {
            "id": 9,
            "module": "google-drive:copyAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 1863627
            },
            "mapper": {
                "copy": "drive",
                "destination": "drive",
                "name": "{{6.`aCompany Name`}}",
                "file": "/1-0G7Yh7LzPbHmxMlc1RB1X2jKVrvaJ2U/1jbD6WeqeKeZzgYC2SwJQp0SZRaSWF5RS/19c2xNIeL54qUlhca0Mdj2XSAz-7_R6eRZ7yUphMcT-4",
                "folderId": "/1-0G7Yh7LzPbHmxMlc1RB1X2jKVrvaJ2U/13tP4anEv8OHwTnpziFZ8idiFHofH-roY"
            },
            "metadata": {
                "designer": {
                    "x": 524,
                    "y": 19
                },
                "restore": {
                    "__IMTCONN__": {
                        "label": "Google Drive Anna"
                    },
                    "copy": {
                        "label": "My Drive"
                    },
                    "destination": {
                        "label": "My Drive"
                    },
                    "file": {
                        "mode": "chose",
                        "path": [
                            "Surveys",
                            "Templates",
                            "Report Calculation Template"
                        ]
                    },
                    "folderId": {
                        "mode": "chose",
                        "path": [
                            "Surveys",
                            "Test Surveys"
                        ]
                    }
                },
                "parameters": [{
                    "name": "__IMTCONN__",
                    "type": "account",
                    "label": "Connection",
                    "required": true
                }],
                "expect": [{
                        "name": "copy",
                        "type": "select",
                        "label": "Original File's Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Copied File Name"
                    },
                    {
                        "mode": "edit",
                        "name": "file",
                        "type": "file",
                        "label": "Original File ID",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{6.fSurveyList}}"
            },
            "metadata": {
                "designer": {
                    "x": 929,
                    "y": 15
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [{
                    "name": "array",
                    "type": "array",
                    "spec": [],
                    "label": "Array",
                    "mode": "edit"
                }]
            }
        },
        {
            "id": 5,
            "module": "app#courageousteams-614494:getSurvey",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1862816
            },
            "filter": {
                "name": "NOT EMPTY",
                "conditions": [
                    [{
                        "a": "{{7.value}}",
                        "o": "exist",
                        "b": ""
                    }]
                ]
            },
            "mapper": {
                "id": "{{7.value}}"
            },
            "metadata": {
                "designer": {
                    "x": 1217,
                    "y": 15
                },
                "restore": {
                    "__IMTCONN__": {
                        "label": "Version-test"
                    }
                },
                "parameters": [{
                    "name": "__IMTCONN__",
                    "type": "account",
                    "label": "Connection",
                    "required": true
                }],
                "expect": [{
                    "name": "id",
                    "type": "text",
                    "label": "Survey ID",
                    "required": true
                }]
            }
        },
        {
            "id": 4,
            "module": "app#courageousteams-614494:getAnswers",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1862816
            },
            "mapper": {
                "id": "{{5.Answers}}"
            },
            "metadata": {
                "designer": {
                    "x": 1530,
                    "y": 18
                },
                "restore": {
                    "__IMTCONN__": {
                        "label": "Version-test"
                    }
                },
                "parameters": [{
                    "name": "__IMTCONN__",
                    "type": "account",
                    "label": "Connection",
                    "required": true
                }],
                "expect": [{
                    "name": "id",
                    "type": "text",
                    "label": "Answer Id",
                    "required": true
                }]
            }
        },
        {
            "id": 10,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1863633
            },
            "mapper": {
                "mode": "select",
                "valueInputOption": "USER_ENTERED",
                "spreadsheetId": "19c2xNIeL54qUlhca0Mdj2XSAz-7_R6eRZ7yUphMcT-4",
                "sheetId": "From Bubble",
                "rowNumber": "3",
                "includesHeaders": true,
                "values": {
                    "0": "{{4.ID 1}}",
                    "1": "{{4.ID 1}}",
                    "2": "{{4.A211}}",
                    "3": "{{4.A212}}",
                    "4": "{{4.A213}}",
                    "5": "{{4.A231}}",
                    "6": "{{4.A232}}",
                    "7": "{{4.A233}}",
                    "8": "{{4.A251}}",
                    "9": "{{4.A252}}",
                    "10": "{{4.A253}}",
                    "11": "{{4.A221}}",
                    "12": "{{4.A222}}",
                    "13": "{{4.A223}}",
                    "14": "{{4.A241}}",
                    "15": "{{4.A242}}",
                    "16": "{{4.A243}}",
                    "17": "{{4.A261}}",
                    "18": "{{4.A262}}",
                    "19": "{{4.A263}}",
                    "20": "{{4.D110}}",
                    "21": "{{4.D120}}",
                    "22": "{{4.B111}}",
                    "23": "{{4.B121}}",
                    "24": "{{4.B131}}",
                    "25": "{{4.B141}}",
                    "26": "{{4.B151}}",
                    "27": "{{4.B112}}",
                    "28": "{{4.B122}}",
                    "29": "{{4.B132}}",
                    "30": "{{4.B142}}",
                    "31": "{{4.B152}}",
                    "32": "{{4.C111}}",
                    "33": "{{4.C112}}",
                    "34": "{{4.C113}}",
                    "35": "{{4.C121}}",
                    "36": "{{4.C122}}",
                    "37": "{{4.C123}}",
                    "38": "{{4.C131}}",
                    "39": "{{4.C132}}",
                    "40": "{{4.C141}}",
                    "41": "{{4.C142}}",
                    "42": "{{4.C151}}",
                    "43": "{{4.C152}}",
                    "44": "{{4.C161}}",
                    "45": "{{4.C162}}",
                    "46": "{{4.E111}}",
                    "47": "{{4.E112}}",
                    "48": "{{4.E113}}",
                    "49": "{{4.E114}}",
                    "50": "{{4.E115}}",
                    "51": "{{4.E121}}",
                    "52": "{{4.E122}}",
                    "53": "{{4.E123}}",
                    "54": "{{4.E124}}",
                    "55": "{{4.E125}}",
                    "56": "{{4.E131}}",
                    "57": "{{4.E132}}",
                    "58": "{{4.E133}}",
                    "59": "{{4.E134}}",
                    "60": "{{4.E135}}",
                    "61": "{{4.F111}}",
                    "62": "{{4.F121}}",
                    "63": "{{4.F131}}",
                    "64": "{{4.F112}}",
                    "65": "{{4.F122}}",
                    "66": "{{4.F132}}",
                    "67": "{{4.F113}}",
                    "68": "{{4.F123}}",
                    "69": "{{4.F133}}",
                    "70": "{{4.A111}}",
                    "71": "{{4.A112}}",
                    "72": "{{4.A113}}",
                    "73": "{{4.A114}}",
                    "74": "{{4.A115}}",
                    "75": "{{4.A116}}",
                    "76": "{{4.A121}}",
                    "77": "{{4.A122}}",
                    "78": "{{4.A123}}",
                    "79": "{{4.A124}}",
                    "80": "{{4.A125}}",
                    "81": "{{4.A126}}",
                    "82": "{{4.A131}}",
                    "83": "{{4.A132}}",
                    "84": "{{4.A133}}",
                    "85": "{{4.A134}}",
                    "86": "{{4.A135}}",
                    "87": "{{4.A136}}",
                    "88": "{{4.A141}}",
                    "89": "{{4.A142}}",
                    "90": "{{4.A143}}",
                    "91": "{{4.A144}}",
                    "92": "{{4.A145}}",
                    "93": "{{4.A146}}",
                    "94": "{{4.A151}}",
                    "95": "{{4.A152}}",
                    "96": "{{4.A153}}",
                    "97": "{{4.A154}}",
                    "98": "{{4.A155}}",
                    "99": "{{4.A156}}",
                    "100": "{{4.A161}}",
                    "101": "{{4.A162}}",
                    "102": "{{4.A163}}",
                    "103": "{{4.A164}}",
                    "104": "{{4.A165}}",
                    "105": "{{4.A166}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 2208,
                    "y": 55
                },
                "restore": {
                    "__IMTCONN__": {
                        "label": "Google Sheets Anna"
                    },
                    "mode": {
                        "label": "Select spreadsheet and sheet"
                    },
                    "valueInputOption": {
                        "mode": "chose",
                        "label": "User entered"
                    },
                    "spreadsheetId": {
                        "label": "Report Calculation Template"
                    },
                    "sheetId": {
                        "label": "From Bubble"
                    },
                    "includesHeaders": {
                        "label": "Yes"
                    }
                },
                "parameters": [{
                    "name": "__IMTCONN__",
                    "type": "account",
                    "label": "Connection",
                    "required": true
                }],
                "expect": [{
                        "name": "mode",
                        "type": "select",
                        "label": "Mode",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values",
                        "spec": [{
                                "name": "0",
                                "label": "ID 1 (A)",
                                "type": "text"
                            },
                            {
                                "name": "1",
                                "label": "ID 1 (B)",
                                "type": "text"
                            },
                            {
                                "name": "2",
                                "label": "A211 (C)",
                                "type": "text"
                            },
                            {
                                "name": "3",
                                "label": "A212 (D)",
                                "type": "text"
                            },
                            {
                                "name": "4",
                                "label": "A213 (E)",
                                "type": "text"
                            },
                            {
                                "name": "5",
                                "label": "A231 (F)",
                                "type": "text"
                            },
                            {
                                "name": "6",
                                "label": "A232 (G)",
                                "type": "text"
                            },
                            {
                                "name": "7",
                                "label": "A233 (H)",
                                "type": "text"
                            },
                            {
                                "name": "8",
                                "label": "A251 (I)",
                                "type": "text"
                            },
                            {
                                "name": "9",
                                "label": "A252 (J)",
                                "type": "text"
                            },
                            {
                                "name": "10",
                                "label": "A253 (K)",
                                "type": "text"
                            },
                            {
                                "name": "11",
                                "label": "A221 (L)",
                                "type": "text"
                            },
                            {
                                "name": "12",
                                "label": "A222 (M)",
                                "type": "text"
                            },
                            {
                                "name": "13",
                                "label": "A223 (N)",
                                "type": "text"
                            },
                            {
                                "name": "14",
                                "label": "A241 (O)",
                                "type": "text"
                            },
                            {
                                "name": "15",
                                "label": "A242 (P)",
                                "type": "text"
                            },
                            {
                                "name": "16",
                                "label": "A243 (Q)",
                                "type": "text"
                            },
                            {
                                "name": "17",
                                "label": "A261 (R)",
                                "type": "text"
                            },
                            {
                                "name": "18",
                                "label": "A262 (S)",
                                "type": "text"
                            },
                            {
                                "name": "19",
                                "label": "A263 (T)",
                                "type": "text"
                            },
                            {
                                "name": "20",
                                "label": "D110 (U)",
                                "type": "text"
                            },
                            {
                                "name": "21",
                                "label": "D120 (V)",
                                "type": "text"
                            },
                            {
                                "name": "22",
                                "label": "B111 (W)",
                                "type": "text"
                            },
                            {
                                "name": "23",
                                "label": "B121 (X)",
                                "type": "text"
                            },
                            {
                                "name": "24",
                                "label": "B131 (Y)",
                                "type": "text"
                            },
                            {
                                "name": "25",
                                "label": "B141 (Z)",
                                "type": "text"
                            },
                            {
                                "name": "26",
                                "label": "B151 (AA)",
                                "type": "text"
                            },
                            {
                                "name": "27",
                                "label": "B112 (AB)",
                                "type": "text"
                            },
                            {
                                "name": "28",
                                "label": "B122 (AC)",
                                "type": "text"
                            },
                            {
                                "name": "29",
                                "label": "B132 (AD)",
                                "type": "text"
                            },
                            {
                                "name": "30",
                                "label": "B142 (AE)",
                                "type": "text"
                            },
                            {
                                "name": "31",
                                "label": "B152 (AF)",
                                "type": "text"
                            },
                            {
                                "name": "32",
                                "label": "C111 (AG)",
                                "type": "text"
                            },
                            {
                                "name": "33",
                                "label": "C112 (AH)",
                                "type": "text"
                            },
                            {
                                "name": "34",
                                "label": "C113 (AI)",
                                "type": "text"
                            },
                            {
                                "name": "35",
                                "label": "C121 (AJ)",
                                "type": "text"
                            },
                            {
                                "name": "36",
                                "label": "C122 (AK)",
                                "type": "text"
                            },
                            {
                                "name": "37",
                                "label": "C123 (AL)",
                                "type": "text"
                            },
                            {
                                "name": "38",
                                "label": "C131 (AM)",
                                "type": "text"
                            },
                            {
                                "name": "39",
                                "label": "C132 (AN)",
                                "type": "text"
                            },
                            {
                                "name": "40",
                                "label": "C141 (AO)",
                                "type": "text"
                            },
                            {
                                "name": "41",
                                "label": "C142 (AP)",
                                "type": "text"
                            },
                            {
                                "name": "42",
                                "label": "C151 (AQ)",
                                "type": "text"
                            },
                            {
                                "name": "43",
                                "label": "C152 (AR)",
                                "type": "text"
                            },
                            {
                                "name": "44",
                                "label": "C161 (AS)",
                                "type": "text"
                            },
                            {
                                "name": "45",
                                "label": "C162 (AT)",
                                "type": "text"
                            },
                            {
                                "name": "46",
                                "label": "E111 (AU)",
                                "type": "text"
                            },
                            {
                                "name": "47",
                                "label": "E112 (AV)",
                                "type": "text"
                            },
                            {
                                "name": "48",
                                "label": "E113 (AW)",
                                "type": "text"
                            },
                            {
                                "name": "49",
                                "label": "E114 (AX)",
                                "type": "text"
                            },
                            {
                                "name": "50",
                                "label": "E115 (AY)",
                                "type": "text"
                            },
                            {
                                "name": "51",
                                "label": "E121 (AZ)",
                                "type": "text"
                            },
                            {
                                "name": "52",
                                "label": "E122 (BA)",
                                "type": "text"
                            },
                            {
                                "name": "53",
                                "label": "E123 (BB)",
                                "type": "text"
                            },
                            {
                                "name": "54",
                                "label": "E124 (BC)",
                                "type": "text"
                            },
                            {
                                "name": "55",
                                "label": "E125 (BD)",
                                "type": "text"
                            },
                            {
                                "name": "56",
                                "label": "E131 (BE)",
                                "type": "text"
                            },
                            {
                                "name": "57",
                                "label": "E132 (BF)",
                                "type": "text"
                            },
                            {
                                "name": "58",
                                "label": "E133 (BG)",
                                "type": "text"
                            },
                            {
                                "name": "59",
                                "label": "E134 (BH)",
                                "type": "text"
                            },
                            {
                                "name": "60",
                                "label": "E135 (BI)",
                                "type": "text"
                            },
                            {
                                "name": "61",
                                "label": "F111 (BJ)",
                                "type": "text"
                            },
                            {
                                "name": "62",
                                "label": "F121 (BK)",
                                "type": "text"
                            },
                            {
                                "name": "63",
                                "label": "F131 (BL)",
                                "type": "text"
                            },
                            {
                                "name": "64",
                                "label": "F112 (BM)",
                                "type": "text"
                            },
                            {
                                "name": "65",
                                "label": "F122 (BN)",
                                "type": "text"
                            },
                            {
                                "name": "66",
                                "label": "F132 (BO)",
                                "type": "text"
                            },
                            {
                                "name": "67",
                                "label": "F113 (BP)",
                                "type": "text"
                            },
                            {
                                "name": "68",
                                "label": "F123 (BQ)",
                                "type": "text"
                            },
                            {
                                "name": "69",
                                "label": "F133 (BR)",
                                "type": "text"
                            },
                            {
                                "name": "70",
                                "label": "A111 (BS)",
                                "type": "text"
                            },
                            {
                                "name": "71",
                                "label": "A112 (BT)",
                                "type": "text"
                            },
                            {
                                "name": "72",
                                "label": "A113 (BU)",
                                "type": "text"
                            },
                            {
                                "name": "73",
                                "label": "A114 (BV)",
                                "type": "text"
                            },
                            {
                                "name": "74",
                                "label": "A115 (BW)",
                                "type": "text"
                            },
                            {
                                "name": "75",
                                "label": "A116 (BX)",
                                "type": "text"
                            },
                            {
                                "name": "76",
                                "label": "A121 (BY)",
                                "type": "text"
                            },
                            {
                                "name": "77",
                                "label": "A122 (BZ)",
                                "type": "text"
                            },
                            {
                                "name": "78",
                                "label": "A123 (CA)",
                                "type": "text"
                            },
                            {
                                "name": "79",
                                "label": "A124 (CB)",
                                "type": "text"
                            },
                            {
                                "name": "80",
                                "label": "A125 (CC)",
                                "type": "text"
                            },
                            {
                                "name": "81",
                                "label": "A126 (CD)",
                                "type": "text"
                            },
                            {
                                "name": "82",
                                "label": "A131 (CE)",
                                "type": "text"
                            },
                            {
                                "name": "83",
                                "label": "A132 (CF)",
                                "type": "text"
                            },
                            {
                                "name": "84",
                                "label": "A133 (CG)",
                                "type": "text"
                            },
                            {
                                "name": "85",
                                "label": "A134 (CH)",
                                "type": "text"
                            },
                            {
                                "name": "86",
                                "label": "A135 (CI)",
                                "type": "text"
                            },
                            {
                                "name": "87",
                                "label": "A136 (CJ)",
                                "type": "text"
                            },
                            {
                                "name": "88",
                                "label": "A141 (CK)",
                                "type": "text"
                            },
                            {
                                "name": "89",
                                "label": "A142 (CL)",
                                "type": "text"
                            },
                            {
                                "name": "90",
                                "label": "A143 (CM)",
                                "type": "text"
                            },
                            {
                                "name": "91",
                                "label": "A144 (CN)",
                                "type": "text"
                            },
                            {
                                "name": "92",
                                "label": "A145 (CO)",
                                "type": "text"
                            },
                            {
                                "name": "93",
                                "label": "A146 (CP)",
                                "type": "text"
                            },
                            {
                                "name": "94",
                                "label": "A151 (CQ)",
                                "type": "text"
                            },
                            {
                                "name": "95",
                                "label": "A152 (CR)",
                                "type": "text"
                            },
                            {
                                "name": "96",
                                "label": "A153 (CS)",
                                "type": "text"
                            },
                            {
                                "name": "97",
                                "label": "A154 (CT)",
                                "type": "text"
                            },
                            {
                                "name": "98",
                                "label": "A155 (CU)",
                                "type": "text"
                            },
                            {
                                "name": "99",
                                "label": "A156 (CV)",
                                "type": "text"
                            },
                            {
                                "name": "100",
                                "label": "A161 (CW)",
                                "type": "text"
                            },
                            {
                                "name": "101",
                                "label": "A162 (CX)",
                                "type": "text"
                            },
                            {
                                "name": "102",
                                "label": "A163 (CY)",
                                "type": "text"
                            },
                            {
                                "name": "103",
                                "label": "A164 (CZ)",
                                "type": "text"
                            },
                            {
                                "name": "104",
                                "label": "A165 (DA)",
                                "type": "text"
                            },
                            {
                                "name": "105",
                                "label": "A166 (DB)",
                                "type": "text"
                            },
                            {
                                "name": "106",
                                "label": "(DC)",
                                "type": "text"
                            },
                            {
                                "name": "107",
                                "label": "(DD)",
                                "type": "text"
                            },
                            {
                                "name": "108",
                                "label": "(DE)",
                                "type": "text"
                            },
                            {
                                "name": "109",
                                "label": "(DF)",
                                "type": "text"
                            },
                            {
                                "name": "110",
                                "label": "(DG)",
                                "type": "text"
                            },
                            {
                                "name": "111",
                                "label": "(DH)",
                                "type": "text"
                            },
                            {
                                "name": "112",
                                "label": "(DI)",
                                "type": "text"
                            },
                            {
                                "name": "113",
                                "label": "(DJ)",
                                "type": "text"
                            },
                            {
                                "name": "114",
                                "label": "(DK)",
                                "type": "text"
                            },
                            {
                                "name": "115",
                                "label": "(DL)",
                                "type": "text"
                            },
                            {
                                "name": "116",
                                "label": "(DM)",
                                "type": "text"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 2508,
                    "y": 55
                }
            },
            "routes": [{
                "disabled": true,
                "flow": [{
                        "id": null,
                        "module": "placeholder:Placeholder",
                        "metadata": {
                            "designer": {
                                "x": 3193,
                                "y": 19
                            }
                        }
                    },
                    {
                        "id": 3,
                        "module": "http:ActionSendData",
                        "version": 3,
                        "parameters": {
                            "handleErrors": false
                        },
                        "mapper": {
                            "ca": "",
                            "qs": [],
                            "url": "https://chrome.browserless.io/screenshot?token=7f0596a8-ecf4-4e0d-9e0f-7f5046d1a794",
                            "data": "{\n   \n    \"url\":\"https://stdok.github.io/anna/Charts/COMPASS.html\",\n \n\t\n\"viewport\":{\n\t\"width\":\"500\",\n\t\"height\":\"500\"\n}\n}",
                            "gzip": true,
                            "method": "post",
                            "headers": [],
                            "timeout": "",
                            "authPass": "",
                            "authUser": "",
                            "bodyType": "raw",
                            "contentType": "application/json",
                            "shareCookies": false,
                            "parseResponse": false,
                            "followRedirect": true,
                            "useQuerystring": false,
                            "followAllRedirects": false,
                            "rejectUnauthorized": true
                        },
                        "metadata": {
                            "designer": {
                                "x": 3493,
                                "y": 19
                            },
                            "restore": {
                                "qs": {
                                    "mode": "chose",
                                    "items": []
                                },
                                "method": {
                                    "mode": "chose",
                                    "label": "POST"
                                },
                                "headers": {
                                    "mode": "chose",
                                    "items": []
                                },
                                "bodyType": {
                                    "label": "Raw"
                                },
                                "contentType": {
                                    "label": "JSON (application/json)"
                                }
                            },
                            "parameters": [{
                                "name": "handleErrors",
                                "type": "boolean",
                                "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                "required": true
                            }],
                            "expect": [{
                                    "name": "url",
                                    "type": "url",
                                    "label": "URL",
                                    "required": true
                                },
                                {
                                    "name": "method",
                                    "type": "select",
                                    "label": "Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "get",
                                            "head",
                                            "post",
                                            "put",
                                            "patch",
                                            "delete"
                                        ]
                                    }
                                },
                                {
                                    "name": "headers",
                                    "spec": [{
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name",
                                            "required": true
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Headers",
                                    "labels": {
                                        "add": "Add a header",
                                        "edit": "Edit a header"
                                    }
                                },
                                {
                                    "name": "qs",
                                    "spec": [{
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name",
                                            "required": true
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Query String",
                                    "labels": {
                                        "add": "Add parameter",
                                        "edit": "Edit parameter"
                                    }
                                },
                                {
                                    "name": "bodyType",
                                    "type": "select",
                                    "label": "Body type",
                                    "validate": {
                                        "enum": [
                                            "raw",
                                            "x_www_form_urlencoded",
                                            "multipart_form_data"
                                        ]
                                    }
                                },
                                {
                                    "name": "parseResponse",
                                    "type": "boolean",
                                    "label": "Parse response",
                                    "required": true
                                },
                                {
                                    "name": "authUser",
                                    "type": "text",
                                    "label": "User name"
                                },
                                {
                                    "name": "authPass",
                                    "type": "password",
                                    "label": "Password"
                                },
                                {
                                    "name": "timeout",
                                    "type": "uinteger",
                                    "label": "Timeout",
                                    "validate": {
                                        "max": 300,
                                        "min": 1
                                    }
                                },
                                {
                                    "name": "shareCookies",
                                    "type": "boolean",
                                    "label": "Share cookies with other HTTP modules",
                                    "required": true
                                },
                                {
                                    "name": "ca",
                                    "type": "cert",
                                    "label": "Self-signed certificate",
                                    "multiline": true
                                },
                                {
                                    "name": "rejectUnauthorized",
                                    "type": "boolean",
                                    "label": "Reject connections that are using unverified (self-signed) certificates",
                                    "required": true
                                },
                                {
                                    "name": "followRedirect",
                                    "type": "boolean",
                                    "label": "Follow redirect",
                                    "required": true
                                },
                                {
                                    "name": "useQuerystring",
                                    "type": "boolean",
                                    "label": "Disable serialization of multiple same query string keys as arrays",
                                    "required": true
                                },
                                {
                                    "name": "gzip",
                                    "type": "boolean",
                                    "label": "Request compressed content",
                                    "required": true
                                },
                                {
                                    "name": "contentType",
                                    "type": "select",
                                    "label": "Content type",
                                    "validate": {
                                        "enum": [
                                            "text/plain",
                                            "application/json",
                                            "application/xml",
                                            "text/xml",
                                            "text/html",
                                            "custom"
                                        ]
                                    }
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Request content"
                                },
                                {
                                    "name": "followAllRedirects",
                                    "type": "boolean",
                                    "label": "Follow all redirect",
                                    "required": true
                                }
                            ]
                        }
                    }
                ]
            }]
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}